  <%- include ("../admin_partials/header.ejs")   %>
   
<div class="content">
  <div class="container-fluid">
     <div class="card">
      <div class="card-header card-header-primary">
              <h4 class="card-title">Zekanın ölçütü bilgi değil hayal gücüdür.</h4>
              <p class="card-category">Hayallerini gerçekleştir :) </p>
      </div>
    <div class="card-body">
              <div id="typography">
                <div class="card-title">
                  <h2>Blog</h2>
                </div>
              </div
    </div>
        <form action="admin-post-save" method="POST" class="u-space_top-md">
          <div class="form-bundle">
            <label for="name" style="font-size:28px;">Header 1</label>
            <input type="text" id="name" name="title">
          </div>
          <div class="form-bundle" >
            <label for="age" style="font-size:20px;">Header 2</label>
            <input type="text" id="name" name="side_header">
          </div>
          
           <div class="form-bundle" style="font-size:14px;">
            <label for="age" style="font-size:14px;">Author</label>
            <select class="form-control" name="author" style="font-size:14px;">
            <label for="age" style="font-size:14px;"></label>
            <option style="font-size:14px;">İrem SİMSAR</option>
            </select>
          </div>

          <div class="form-bundle" >
         <label for="age" style="font-size:14px;">Category</label>
          <select class="form-control" name="category" style="font-size:14px;">
            <label for="age" style="font-size:14px;"></label>
          <option>Projeler</option>
          <option>Teknoloji</option>
          <option>Seyahatler</option>
          <option>Yemekler</option>
        </select>
          </div>

           <div class="form-bundle" >
         <label for="age" style="font-size:14px;">BroadCast</label>
          <select class="form-control" name="broadcasting" style="font-size:14px;">
            <label for="age" style="font-size:14px;"></label>
          <option>Yayınlandı</option>
          <option>Taslak</option>
        </select>
          </div>

          <div class="form-bundle" style="height:600px">
            <label for="suggestion" style="font-size:16px;">Paragraph</label>
            <textarea name="explain" style="height:500px; font-size:16px;" id="suggestion"> </textarea>
          </div>
          <div class="button-items">
            <button type="submit" class="btn btn-success waves-effect waves-light">Success</button>
          </div>
         
  </form>
        

      

  </div>
 </div>


    <%- include ("../admin_partials/footer.ejs")%>